{% extends "emails/base.html" %}
{% block content %}
<p style="margin:0 0 16px;">Hello {{ user.get_username }},</p>
<p style="margin:0 0 4px;">We received a request to reset the password for your Bark &amp; Ambrosia Beetle Gallery account.</p>
{% url 'password_set' uidb64=uid token=token as set_path %}
{% with url=protocol|add:"://"|add:domain|add:set_path %}{% include "emails/_button.html" with url=url label="Choose a new password" %}{% endwith %}
<p style="margin:0 0 16px;">The link works for a week and can be used once.</p>
<p style="margin:0 0 16px;">Warm regards,<br>The Bark &amp; Ambrosia Beetle Gallery team</p>
{% endblock %}
{% block footer %}If you did not ask for this, you can safely ignore this email; your password stays as it is.{% endblock %}
